  <h1>Bienvenido a Sinatra!2</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

  <html>
<head>
<title>My Page</title>
</head>

<body>
<form>
<div align="left">
<textarea cols="50" rows="1" name="myname">
Como Funciona Sinatra?
</textarea>
<br>
<input type="checkbox" name="option1" value="muy sencillo"> muy sencillo
<input type="checkbox" name="option2" value="medio dificil" checked> medio dificil
<input type="checkbox" name="option3" value="muy complicado"> muy complicado
<br><br>
<div align="left">
<textarea cols="50" rows="1" name="myname">
Que cantidad de población ocupa Sinatra?
</textarea>
<br>
<input type="checkbox" name="option1" value="5%"> 5%
<input type="checkbox" name="option2" value="40%" checked> 40%
<input type="checkbox" name="option3" value="mas del 80%"> mas del 80%
<br><br>
<div align="left">
<textarea cols="50" rows="1" name="myname">
Que aplicaciones usan Sinatra?
</textarea>
<br>
<input type="checkbox" name="option1" value="twitter"> twitter
<input type="checkbox" name="option2" value="bbc" checked> bbc
<input type="checkbox" name="option3" value="facebook"> facebook
<br><br>
<div align="left">
<textarea cols="50" rows="1" name="myname">
Cual es su competente de Sinatra?
</textarea>
<br>
<input type="checkbox" name="option1" value="no se"> no se
<input type="checkbox" name="option2" value="mercuty" checked> mercuty
<input type="checkbox" name="option3" value="grape"> grape
<br><br>
</div>
</form>
</body>
</html>


