<h1>Bienvenido a Sinatra!</h1>
<h2>Ingresa una Url</h2>

<form action="/urls" method="post">
  <input type="text" name="word_url" placeholder="ingresa una url"><br><br>
  <input type="submit">
</form>


