<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->
<form action="/new_word" method="post">
    <input type="text" name="new_word" placeholder="word"><br>
    <input type="submit">
  </form>
<a href="/">Home</a>
